* {
  box-sizing: border-box;
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161624;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.countryList {
  width: 60vw;
  height: 50vh;
  overflow-y: scroll;
  list-style: none;
  padding-left: 0px;
}
.visitedCountryList {
  width: 60vw;
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  background-color: #1f1f2f;
}
